<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>E-housekeeper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E4AF1F961E6663B000C587DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF1FAA1E6663B000C587DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E4AF1FB51E6663B000C587DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
